.navbar {
    padding: 10px 0;
    background-color: #1e94d2;
  }
  
  .navbar-toggle {
    color: #fff;
  }
  
  .navbar-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 20px;
    width: 200px;
    margin: 0;
    padding: 0;
  
    background-color: #fff;
  
    list-style: none;
  }
  
  .navbar-user {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #525151;
  
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
  }
  
  .navbar-menuitem {
    padding: 15px;
  }
  
  .navbar-menuitem a {
    color: #1e94d2;
    text-decoration: none;
  }
  
  .navbar-menuitem a:hover {
    color: #494541;
  }
  
  .navbar-menuitem.active {
    background-color: #fff;
  }

  .nav-title {
    font-weight:bold
  }