<p-sidebar [(visible)]="menuVisible" [baseZIndex]="10000">
  <ul class="navbar-menu">
    <h3 class="nav-title">Crédito fácil</h3>
    <li class="navbar-menuitem" routerLinkActive="active">
      <a routerLink="/partners" (click)="menuVisible = false">
        Parceiro de negócios
      </a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="active">
      <a routerLink="/analysis" (click)="menuVisible = false">
        Análise de crédito
      </a>
    </li>
  </ul>
</p-sidebar>

<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a (click)="menuVisible = true"><i class="fa fa-bars fa-2x" style="color:#fff"></i></a>
      </div>
    </div>
  </div>
</nav>
