<p-toast></p-toast>
<app-navbar></app-navbar>
<router-outlet></router-outlet>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" #confirmacao>
  <p-footer>
    <button type="button" pButton icon="fa fa-check" label="Yes" (click)="confirmacao.accept()"></button>
    <button type="button" pButton icon="fa fa-times" label="No" (click)="confirmacao.reject()"></button>
  </p-footer>
</p-confirmDialog>
