<p-fieldset>
  <p-header>Análises realizadas</p-header>


  <div class="ui-g">
    <div class="ui-g-12">

      <p-table [columns]="cols" [value]="credits" selectionMode="single" [(selection)]="selectedCredit" (onRowSelect)="onRowSelect($event)"
        [paginator]="true" [rows]="15" [responsive]="true">
        <ng-template pTemplate="caption">
          Análises de crédito
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="col-text">Id</th>
            <th class="col-text">Cliente</th>
            <th class="col-value">Limite crédito</th>
            <th class="col-value">Tipo da taxa</th>
            <th class="col-value">Taxa de juros</th>
            <th class="col-value">Limite crédito com juros</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-credit>
          <tr [pSelectableRow]="credit">
            <td class="col-text"> {{ credit?.id }}</td>
            <td class="col-text"> {{ credit?.businessPartner?.name }}</td>
            <td class="col-value">{{ credit?.creditLimmit | currency: 'BRL':'symbol':'.2-2' }}</td>
            <td class="col-value" pTooltip="{{ credit?.operationTax?.tax *100 }}%">{{ credit?.operationTax?.name }}</td>
            <td class="col-value"> {{ credit?.interestAmmount | currency: 'BRL':'symbol':'.2-2' }}</td>
            <td class="col-value">{{ credit?.creditLimmitWithTax | currency: 'BRL':'symbol':'.2-2' }}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary" let-rowData>
          <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Adicionar"></button>
          </div>
        </ng-template>

      </p-table>

      <p-dialog header="Informar limite" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
        [width]="500" [resizable]="true">
        <div class="ui-g ui-fluid" *ngIf="credit">
          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="businessPartner">Cliente</label>
            </div>
            <div class="ui-g-8" [formGroup]="creditAnalysisForm">
              <p-autoComplete formControlName="businessPartner" [(ngModel)]="credit.businessPartner" [suggestions]="partnersSuggestion"
                (completeMethod)="searchBusinessPartner($event)" field="name"></p-autoComplete>
            </div>
            <div class="ui-grid-col-12">
              <p-message severity="error" text="Cliente é obrigatório" *ngIf="!creditAnalysisForm.controls['businessPartner'].valid&&creditAnalysisForm.controls['businessPartner'].dirty"></p-message>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="creditLimmit">Limite de Crédito</label>
            </div>
            <div class="ui-g-8 ui-inputgroup">
              <span class="ui-inputgroup-addon">R$</span>
              <input pInputText id="creditLimmit" [(ngModel)]="credit.creditLimmit" />
              <span class="ui-inputgroup-addon">.00</span>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="operationTax">Taxes</label>
            </div>
            <div class="ui-g-8">
              <p-dropdown id="operationTax" [options]="taxes" [(ngModel)]="credit.operationTax" placeholder="Select"
                optionLabel="name" [showClear]="true" [autoWidth]="true"></p-dropdown>
            </div>
          </div>
        </div>
        <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="confirmRemove()" label="Apagar"></button>
            <button type="button" pButton icon="fa fa-check" (click)="save()" label="Salvar"></button>
          </div>
        </p-footer>
      </p-dialog>

    </div>
  </div>
</p-fieldset>
